@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@400;500;600;700&family=Dosis:wght@200;300;400;500;600;700;800&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,900&family=Metamorphous&family=Mooli&family=Nosifer&family=Outfit:wght@100;200;300;400;500;600;700;800;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Sacramento&family=Water+Brush&display=swap"); /* font-family: 'Caveat', cursive; */
/* font-family: 'Dosis', sans-serif; */
/* font-family: 'Lato', sans-serif; */
/* font-family: 'Mooli', sans-serif; */
/* font-family: 'Nosifer', sans-serif; */
/* font-family: 'Outfit', sans-serif; */
/* font-family: 'Roboto', sans-serif; */
/* font-family: 'Sacramento', cursive; */
/* font-family: 'Water Brush', cursive; */
/* font-family: 'Metamorphous', serif; */

.app__chef-content {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 5rem;
  color: var(--color-golden);
}
.app__chef-content_quote {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  color: var(--color-golden);
}
.app__chef-content_quote img {
  width: 30px;
  height: 30px;
  margin-right: 1rem;
  margin-bottom: -0.4rem;

  padding: 4px;

  background-color: var(--color-golden);
  border-radius: 50%;
}
.app__chef-sign {
  width: 100%;
  margin-top: 3rem;
}
.app__chef-sign p:first-child {
  font-family: var(--font-base);
  font-weight: 400;
  font-size: 32px;
  line-height: 41px;
  letter-spacing: 0.04rem;
  text-transform: capitalize;
  color: var(--color-golden);
}
.cheif-words {
  color: var(--color-golden);
 
  font-size: 0.8rem;
  font-family: "Metamorphous", serif;
}
.app__chef-sign img {
  width: 250px;
  margin-top: 3rem;
}
@media screen and (max-width: 2000px) {
  .app__chef-sign img {
    width: 370px;
  }
}

@media screen and (max-width: 650px) {
  .app__chef-sign img {
    width: 80%;
  }
  .app__chef-content_quote {
    display: flex;
    flex-direction: column;
  }
  .app__chef-content_quote img {
    margin-bottom: -10px;
  }
}
