@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@400;500;600;700&family=Dosis:wght@200;300;400;500;600;700;800&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,900&family=Metamorphous&family=Mooli&family=Nosifer&family=Outfit:wght@100;200;300;400;500;600;700;800;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Sacramento&family=Water+Brush&display=swap"); /* font-family: 'Caveat', cursive; */
/* font-family: 'Dosis', sans-serif; */
/* font-family: 'Lato', sans-serif; */
/* font-family: 'Mooli', sans-serif; */
/* font-family: 'Nosifer', sans-serif; */
/* font-family: 'Outfit', sans-serif; */
/* font-family: 'Roboto', sans-serif; */
/* font-family: 'Sacramento', cursive; */
/* font-family: 'Water Brush', cursive; */
/* font-family: 'Metamorphous', serif; */

.app__navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--color-black);

  padding: 1rem 2rem;
}
.app__navbar-logo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.app__navbar-logo h1 {
  color: white;
  font-family: "Metamorphous", serif;
  border-radius: 50%;
}
.app__navbar-logo h1 span {
  font-size: 3rem;
  font-family: "Water Brush", cursive;
}
.app__navbar-links {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
}
.app__navbar-links li {
  margin: 0 1rem;
  cursor: pointer;
}
.app__navbar-links li:hover {
  color: var(--color-grey);
}
.app__navbar-login {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.app__navbar-login a {
  margin: 0 1rem;
  text-decoration: none;
  transition: 0.4s ease-in;
}
.app__navbar-login a:hover {
  border-bottom: 1px solid var(--color-golden);
}
.app__navbar-login div {
  width: 1px;
  height: 25px;
  background: var(--color-golden);
}

.app__navbar-smallscreen {
  display: none;
}
.app__navbar-smallscreen_overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: var(--color-black);
  transition: 0.4s ease-in;
  flex-direction: column;
  z-index: 5;
}
.app__navbar-smallscreen_overlay .overlay__close {
  font-size: 27px;
  color: var(--color-golden);
  position: absolute;
  cursor: pointer;
  top: 20px;
  right: 20px;
}
.app__navbar-smallscreen-links {
  list-style: none;
}
.app__navbar-smallscreen-links li {
  margin: 2rem;
  cursor: pointer;
  color: var(--color-golden);
  font-size: 2rem;
  text-align: center;
  font-family: var(--font-base);
}
.app__navbar-smallscreen-links li:hover {
  color: var(--color-white);
}
@media screen and (max-width: 2000px) {
  .app__navbar-logo img {
    width: 210px;
  }
}

@media screen and (max-width: 1150px) {
  .app__navbar-links {
    display: none;
  }
  .app__navbar-smallscreen {
    display: flex;
  }
}
@media screen and (max-width: 650px) {
  .app__navbar {
    padding: 1rem;
  }
  .app__navbar-login {
    display: none;
  }
  .app__navbar-logo img {
    width: 110px;
  }
}
